html {
  -webkit-font-smoothing: antialiased;
}

body {
  font-size: 1rem;
  line-height: 1.5;
  font-family: $ff-primary;
  color: $body-text;
}

@mixin t-m {
  font-size: rem(18);
  line-height: (27/18);
}

.t-m {
  @include t-m;
}