{% extends 'layouts/application.html' %}

{% block content %}
  <div class="hero">
    <div class="container">

      <div class="grid">
        <div class="col">
          <div class="hero__header">
            <h2 class="h-xl h-box h-box--c">About Us</h2>
          </div>
        </div>
      </div>

    </div>
  </div>

  <section class="section">
    <div class="container">
      <div class="grid">
        <div class="col col-s-10 col-l-8 offset-s-1 offset-l-2">
          <div class="rte">
            <p>KIN is a new initiative aiming to bring activists and organisers together from across the UK to explore the history of national and international social movements, to share organising practise and to contextualise what achieving collective liberation looks like within the UK.  Our first 3-day convening took place in August, from Friday 17th to Sunday 19th, in London at the Black Cultural Archives. For highlights click here.</p>
          </div>
        </div>

        <div class="col col-s-10 col-l-6 col-xl-5 offset-s-1 offset-xl-1">
          <div class="rte">
            <h3 class="h-l">Why?</h3>
            <p>There needs to be an intervention in how we are talking about racism in the UK. Delving into the context within which Black people in the UK are fighting for justice we want to explore what  our history, present and future is in achieving liberation. What does Black liberation look like here and what are the barriers to it? How is the UK unique in its racism? Why is there a lack of mainstream conversation around how structural racism manifests and impacts people in the UK?  We aim to answer these questions and more</p>
          </div>
        </div>

        <div class="col col-s-10 col-l-6 col-xl-5 offset-s-1">
          <img src="images/about-1.jpg" alt="">
        </div>

        <div class="col col-s-10 col-l-6 col-xl-5 offset-s-1 offset-xl-1">
          <img src="images/about-2.jpg" alt="">
        </div>

        <div class="col col-s-10 col-l-6 col-xl-5 offset-s-1">
          <div class="rte">
            <h3 class="h-l">How?</h3>
            <p>We strongly believe in building community. The idea, physical space and feeling of community has been under attack for the past few decades. We believe having strong community breeds powerful action, which leads to meaningful change. KIN aims to bring together activists, organisers and campaigners to learn from each other and build meaningful relationships. We plan to do this through convenings, socials and online organising.  KIN was founded in 2017 by a collective of volunteer organisers based in the UK and US from groups including Black Lives Matter US, Take Back The City, Black Alliance for Just Immigration and Black Youth Project 100.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}