{% extends 'layouts/application.html' %}

{% block content %}
  <div class="hero">
    <div class="container">
      <div class="article__hero">
        <div class="grid">
          <div class="col col-m-10 offset-m-1">
            <img class="article__image" src="images/seated.jpg">
          </div>
        </div>

        <h2 class="article__title h-xl h-box">{{ news[0].title }}</h2>
      </div>
    </div>
  </div>

  <section class="section">
    <div class="container">
      <div class="grid grid--j-c">
        <div class="col col-s-10 col-l-8">
          <p class="article__date h-xs">{{ news[0].date }}</p>
          <p class="article__author h-xs">Words by {{ news[0].author }}</p>
          <div class="article__main rte">
            {{ news[0].content | safe }}
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}