{% extends 'layouts/application.html' %}

{% block content %}
  <div class="hero">
    <div class="container">
      <div class="grid">
        <div class="col col-m-10 offset-m-1">

          <div class="hero__body">
            <div id="particles" class="hero__particles"></div>

            <div class="hero__main">
              <h2 class="h-l">{{ hero.title }}</h2>
              <div class="hero__text">{{ hero.text | safe }}</div>
              <a href="#" class="btn">Apply</a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <section class="section">
    <div class="container">
      <div class="grid">
        <div class="col col-l-10 offset-l-1">
          <h3 class="h-m h-m--box">Latest</h3>
        </div>
      </div>

      <div class="grid grid--j-c">

        {% for card in latest %}
          <div class="col col-m-6 col-l-4">
            <article class="card">
              <div class="card__bg" style="background-image: url({{ card.thumb }})"></div>
              <p class="card__date">{{ card.date }}</p>
              <h4 class="card__title">{{ card.title }}</h4>
            </article>
          </div>
        {% endfor %}

      </div>
    </div>
  </section>
{% endblock %}
