{% extends 'layouts/application.html' %}

{% block content %}
  <div class="hero">
    <div class="container">

      <div class="grid">
        <div class="col">
          <div class="hero__header">
            <h2 class="h-xl h-box h-box--c">Who we are</h2>
          </div>
        </div>
      </div>

    </div>
  </div>

  <section class="section">
    <div class="container">
      <div class="grid grid--j-c">
        {% for member in team %}
          <div class="col col-m-6 col-l-4">
            <div class="person">
              <div class="person__thumb" style="background-image: url({{ member.thumb }})"></div>
              <h3 class="person__title h-m">{{ member.name }}</h3>
              <p class="person__role h-xs">{{ member.role }}</p>
              <p class="person__text">{{ member.about }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>

{% endblock %}