// Typography
$ff-primary: sofia-pro, sans-serif;

$fw-normal: 400;
$fw-bold: 700;

// Colors
$black: #121212;
$off-black: #222222;
$white: #FFF;
$grey: #D8D8D8;

$red: #F0474D;

$body-text: $white;

// Layout
$header-height: rem(108);

// Grid
$gtr       : rem(30);
$gtr-half  : $gtr / 2;
$gtr-dbl   : $gtr * 2;
$cols      : 12;
$max-width : rem(1440);