.btn {
  display: inline-block;
  padding: em(9, 16) em(20, 16) em(10, 16);

  font-family: $ff-primary;
  font-size: rem(16);
  font-weight: $fw-bold;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: rem(1);
  color: $white;

  border: none;
  background-color: $red;
}

.btn--small {
  font-size: rem(14);
}

.btn--large {
  font-size: rem(18);
}

.btn--secondary {
  background-color: $blue;
}