<footer class="footer section section--light">
  <div class="container">
    <div class="footer__grid">
      <div class="footer__col">
        <h4 class="h-s">Sign up to our newsletter</h4>
      </div>

      <div class="footer__col">
        <ul class="social">
          <li class="social__item">
            <a href="#" class="social__link">{% include 'svgs/icon-facebook-dark.svg.html' %}</a>
          </li>
          <li class="social__item">
            <a href="#" class="social__link">{% include 'svgs/icon-twitter-dark.svg.html' %}</a>
          </li>
          <li class="social__item">
            <a href="#" class="social__link">{% include 'svgs/icon-instagram-dark.svg.html' %}</a>
          </li>
        </ul>

        <p class="footer__copy">&copy;Kin 2018</p>
      </div>
    </div>
  </div>
</footer>