<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <a class="logo" href="index.html"><h1>{{ title }}</h1></a>

      <nav class="nav">
        <ul class="menu">
          <li class="menu__item">
            <a href="news.html" class="menu__link">News</a>
          </li>
          <li class="menu__item">
            <a href="the-team.html" class="menu__link">Who we are</a>
          </li>
          <li class="menu__item">
            <a href="about.html" class="menu__link">What we do</a>
          </li>
          <!-- <li class="menu__item">
            <a href="media.html" class="menu__link">Media</a>
          </li> -->
          <li class="menu__item">
            <a href="resources.html" class="menu__link">Resources</a>
          </li>
        </ul>

        <div class="nav__divider"></div>

        <ul class="social">
          <li class="social__item">
            <a href="https://www.facebook.com/KinFolkNetwork/" target="_blank" class="social__link">{% include 'svgs/icon-facebook.svg.html' %}</a>
          </li>
          <li class="social__item">
            <a href="https://twitter.com/KinFolkNetwork" target="_blank" class="social__link">{% include 'svgs/icon-twitter.svg.html' %}</a>
          </li>
          <li class="social__item">
            <a href="https://www.instagram.com/kinfolknetwork/" target="_blank" class="social__link">{% include 'svgs/icon-instagram.svg.html' %}</a>
          </li>
          <li class="social__item">
            <a href="mailto:kinfolknetwork@gmail.com" target="_blank" class="social__link">{% include 'svgs/icon-email-2.svg.html' %}</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>