.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding-top: $gtr;
  padding-bottom: $gtr;
  z-index: 100;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}