.card {
  position: relative;

  &:before {
    content: '';
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: calc(61% - #{rem(69)});
  }
}

.card__bg {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - #{$gtr});
  background: {
    repeat: no-repeat;
    position: center;
    size: cover;
  }

  &:before {
    content: '';
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 66.6666%;
  }
}

.card__date,
.card__title {
  position: relative;
}

.card__date {
  display: inline-block;;
  padding: rem(10) rem(16);
  font-size: rem(16);
  font-weight: $fw-bold;
  line-height: (19/16);
  color: $black;
  background-color: $white;
}

.card__title {
  width: calc(100% - #{$gtr});
  padding: rem(20) $gtr;
  font-size: rem(24);
  font-weight: $fw-bold;
  line-height: (31/24);
  background-color: $black;
}

.card__excerpt {
  margin-left: $gtr;
  padding: $gtr;
  color: $black;
  background-color: $white;
}

.card__btn {
  margin-top: 1em;
}