.filter-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: $gtr;
}

.filter {
  margin: $gtr-half / 2;
  opacity: 0.6;

  &.is-active {
    opacity: 1;
  }
}