.hero {
  padding-top: $header-height;
}

.hero__body {
  position: relative;
  padding-top: $header-height;
}

.hero__particles {
  position: absolute;
  top: 0;
  left: 0;
  bottom: $gtr * 3;
  width: 70%;
}

.hero__main {
  @include flow;
  position: relative;
  max-width: em(720);
  margin-left: auto;
  padding: rem(60) rem(60) rem(60) rem(120);
  background-color: $black;
  background: linear-gradient(to right, rgba($black, 0) 0%, rgba($black, 1) #{rem(100)});
}

.hero__header {
  text-align: center;
}

.hero__text {
  @include flow;
  @include t-m;
}