.hero {
  padding-top: calc(#{$header-height} + #{$gtr});
}

.hero__body {
  position: relative;
  padding-top: $header-height;
}

.hero__particles {
  position: absolute;
  top: 0;
  left: 0;
  bottom: $gtr * 3;
  width: 70%;
}

.hero__main {
  @include flow;
  position: relative;
  max-width: 41em;
  margin-left: auto;
  padding: rem(60);
  background-color: $black;
}

.hero__header {
  text-align: center;
}

.hero__text {
  @include flow;
  @include t-m;
}