.insta-wrapper {
  margin-top: $gtr;
  padding-bottom: $gtr-dbl;
}

.insta {
  position: relative;
  text-decoration: none;
  color: $white;
  background: {
    repeat: no-repeat;
    position: center;
    size: cover;
  }

  &:before {
    content: '';
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
  }
}

.insta__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: $gtr;
  overflow-y: auto;
  background-color: $black;
  opacity: 0;
  transition: opacity 0.15s ease-out;

  .insta:hover &,
  .insta:focus &,
  .insta:active & {
    opacity: 1;
  }
}

.insta__data {
  display: flex;
  align-items: center;
  justify-content: center;

  > * + * {
    margin-left: 1em;
  }
}

.insta__comment {
  margin-top: 1em;
}