.menu {
  display: flex;
  align-items: center;
  padding: 0;
  list-style: none;
}

.menu__item {
  + #{&} {
    margin-left: $gtr;
  }
}

.menu__link {
  display: block;
  font-size: rem(18);
  font-weight: $fw-bold;
  line-height: 1;
  color: $white;
  text-decoration: none;
}