.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include media($medium-screen-down) {
    display: none;
  }
}

.nav__divider {
  width: rem(2);
  height: $gtr;
  margin-left: $gtr;
  margin-right: $gtr;
  background-color: $red;
}