.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__divider {
  width: rem(2);
  height: $gtr;
  margin-left: $gtr;
  margin-right: $gtr;
  background-color: $red;
}